*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background: #f6f5f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: -20px 0 20px;
}

h1{
	font-weight: bold;
	margin: 0;
}

h2{
	text-align: center;
}

p{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span{
	font-size: 12px;
	padding-bottom: 10px;
}

a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	padding: 12px 45px;
	letter-spacing: 1px; 
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active{
	transform: scale(0.95);
}

button:focus{
	outline: none;
}

button.btn{
	background: transparent;
	border-color: #FFFFFF;
}

.container{
	background:#FFFFFF;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container{
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.form-container form{
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 50px;
	height: 100%;
}

.form-container input{
	background-color: #EEEEEE;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.signIn-container{
	left: 0;
	width: 50%;
	z-index: 2;
}

.signUp-container{
	left: 0;
	width: 50%;
	
}

.icon-container{
	margin: 20px 0;
}

.icon-container a{
	border-radius: 50%;
	border: 1px solid #ddd;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


.overlay-container{
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
}

.overlay{
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
	background: linear-gradient(to right, #ff4b2b, #ff416c);
	color: #fff;
	position: relative;
	height: 100%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


/*.overlay-panel{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	height: 100%;
	width: 50%;
	text-align: center;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}*/

.overlay-panel{
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	text-align: center;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right{
	z-index: 2;
}
.overlay-left{
	display: none;
	width: 50%;
}

.container.right-panel-active .signIn-container{
	transform: translateX(100%);

}

/*bring signup over sign in*/
.container.right-panel-active .signUp-container{
	transform: translateX(100%);
	z-index: 4;
	/*animation: show 0.6s;*/
}

/*Move overlay to left*/
.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.container.right-panel-active .overlay-left{
	transform: translateX(0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container.right-panel-active .overlay-right{
	display: none;
}

