body{
    margin: 0;
    padding: 0;
}

#maindiv{
    display: block;
    background-color: green;
}
#leftdiv{
    float: left;
    width: 50%;
    display: block;
    margin-left: 40px;
}
#rightdiv{
    float: right;
    width: 50%;
    display: block;
    margin-right: 40px;
}