/*define variables*/

:root {
    --main-bg-color: #f4f4f4;
    --main-txt-color: #333;
    --conatiner-width: 90%;
    --header-bg-color: #333;
    --header-txt-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

.container {
    width: var(--conatiner-width);
    margin: 20px auto;
}

header#main-header {
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
}

header#main-header h1 {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}


/*scope specific variables*/

.box {
    --box-bg-color: #ddd;
    --box-main-color: #06c;
    --box-padding: 5px 10px;
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

.box {
    background-color: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    /*box-shadow: 10px 5px 5px var(--box-main-color); */
    box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) var(--box-main-color);
}

.box h1 {
    color: var(--box-main-color);
}

.box p {
    /*vars can be updated globally and within the scope*/
    --box-main-color: #555;
    color: var(--box-main-color);
    /*we can also place a second var using comma so that it could be replaced by that value if first one has some issue loading*/
}