body{
	margin: 25px 10px 25px 10px;
	padding: 0;
	font: 16px Lato, Helvetica, sans-serif;
	color: #333333;
	line-height: 1.5em;
}

.container{
	background-color: #EEEEEE;
	width: 100%;
	border-radius: 10px;
}

#main{
	width: 75%;
	margin: auto;
}

.head-line{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}
#title{
	font-size: 44px;
	font-weight: bold;
	line-height: 1em;
}
#img-div{
	background-color: white;
}
#image{
	padding: 2%;
	padding-bottom: 0;
	width: 96%;
}
#img-caption{
	padding: 2%;
	padding-top: 0;
	text-align: center;
}

#tribute-info{
	width: 100%;
	margin: auto;
}
#tribute-info h4{
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
.year{
	font-weight: bold;
	justify-content: center;
}
li{
	padding-bottom: 15px;
}

.quote{
	padding: 20px;
	font-style: italic;
}

.ending{
	padding-bottom: 40px;
	text-align: center;
}