body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.5em;
	width: 100%;
}

/*in each section, creates flex*/
.container{
	width: 80%;
	margin: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
/*headr block*/
.header{
	background-color: #35424A;
	color: white;
	padding: 20px 20px 10px 0px;
	border-bottom: 5px solid #E8491D;
}

/*All lists*/
ul{
	list-style: none;
	margin-top: 20px;
}
/*site name*/
.logo{
	float: left;
}
/*nav bar*/
.header nav{
	float: right;
}

.header a{
	text-decoration: none;
	color: white; 
}

.header li {
	display: inline;
	padding: 15px;
}

.header a:hover{
	font-weight: bold;
}
.header a:active{
	color: #E8491D;
}

.logo h1, .news-head h1{
	font-size: 24px;
	font-weight: bold;
}

#acme{
	color: #E8491D;
}
/*one with back image*/
.main{
	background: url('../img/cover.jpg');
	min-height: 400px;
}

.content-container{
	width: 80%;
	margin: auto;
	color: white;
	text-align: center;
	padding-top: 120px;
	font-size: 60px;
	line-height: 1em;
	font-weight: bold;
	margin-bottom: -60px;
}

.desc{
	font-size: 20px;
	line-height: 1.7em;
	padding-top: 20px;
	padding-bottom: 30px;
	font-weight: normal;
}


.newsletter{
	background-color: #35424A;
	color: white;
	padding: 30px;
}

.subscribe{
	align-self: center;
}
.subscribe input{
	padding: 5px;
	height: 25px;
	width: 250px;
	margin-bottom: 10px;
}
.subscribe button, .quote button{
	height: 40px;
	background-color: #E8491D;
	color: white;
	border: none;
}

.technology{
	margin-top: 20px;
	margin-bottom: 40px;
}

.box{
	width: 30%;
	padding: 10px;
	text-align: center;
	justify-content: center;
}
.box img{
	width: 90px;
	height: 90px;
	justify-content: center;
}

/*about page*/
.ab, .service{
	width: 65%;
	float: left;
	margin-bottom: 20px;
}

.darkblock{
	background-color: #35424A;
	color: white;
	padding: 20px;
}

.do, .quote{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 30%;
	float: right;
}

.ser{
	background-color: #E6E6E6;
	padding: 15px;
	margin: 5px;
}

.quote input{
	padding: 5px;
	height: 20px;
	width: 90%;
	margin-bottom: 10px;
}

.footer{
	padding: 20px;
	background-color: #E8491D;
	color: white;
	text-align: center;
	font-size: 14px;
}



/* mobile friendly*/

@media (max-width: 768px){
	.container{
		display: block;
		width: 80%;
	}
	.header{
		text-align: center;
		float: none;
	}
	.logo, .header nav, .ab, .do, .service, .quote, .box{
		width: 100%;
		float: none;
	}
	ul{
		padding: 20px;
		padding-bottom: 10px;
	}
	.main{
		width:100%;
		text-align: center;
		min-height: 400px;
	}
	.content-container{
		line-height: 1.25em;

	}
	.newsletter > .container{
		text-align: center;
		display: block;
	}
	.subscribe input{
		margin-bottom: 10px;
	}
	.subscribe button{
		width: 260px;
	}
	
}