body{
	margin: 0;
	padding: 0;
}

.main-container{
	margin: auto;
	width: 90%;
	align-items: center;
}
.header{
	width: 90%;
	margin: auto;
	height: 70px;
	padding: 30px;
	padding-bottom: 10px;
	position: sticky;
	top: 0;
	background-color: #f9f9f9;
}

.head-line img{
	width: 400px;
}

.container{
	display: flex;
	justify-content: space-between;
}
.head-line, .feature-img{
	float: left;
}
.navbar, .feature-content{
	float: right;
}

ul{
	list-style-type: none;
}
.navbar li{
	display: inline;
	padding-right: 10px;
}
.navbar li a{
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.main{
	text-align: center;
	width: 60%;
	margin: auto;
	margin-top: 5%;
}
.main input{
	font-size: 16px;
	width: 50%;
	padding: 5px;
	margin-bottom: 15px;
}
.main button{
	font-size: 20px;
	font-weight: bold;
	width: 35%;
	background-color: #EDD41C;
	border-style: none;
	padding: 10px;
	outline: none;
}
.main button:hover, .card button:hover{
	background-color: #EDC607;
}

.features{
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}
.feature-element{
	display: flex;
}
.feature-img img{
	margin-top: 30px;
	height: 100px;
	width: 100px;
}
.feature-content h4{
	font-size: 30px;
	text-align: left;
	padding-left: 20px;
}
.feature-content p{
	font-size: 18px;
	margin-top: -30px;
	text-align: left;
	padding-left: 25px;
}

.works{
	width: 70%;
	margin: auto;
	margin-top: 60px;
}
iframe{
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
	outline: none;
}


.pricing{
	width: 100%;
	margin-top: 70px;
}

.card{
	border: 1px solid black;
	width: 30%;

	padding-bottom: 15px;
}
.card-head{
	background-color: #EEEEEE;
	text-transform: uppercase;
	padding: 3px;
}
.card p{
	font-size: 16px;
	line-height: 1.5em;
	padding: 7px;
	margin-bottom: 30px;
}
.card button{
	font-size: 20px;
	font-weight: bold;
	width: 60%;
	background-color: #EDD41C;
	border-style: none;
	padding: 10px;
	outline: none;
}

.footer{
	background-color: #EEEEEE;
	margin-top: 40px;
	text-align: right;
	padding-right: 20px;
}
.foot{
	padding-top: 15px;
	padding-bottom: 15px;
}
.connect li{
	display: inline;
	padding-right: 10px;
}
.connect li a{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.copy{
	margin-top: -10px;
}


@media (max-width: 860px){
	.header .container{
		padding-top: -10px;
		display: block;
		text-align: center;
	}
	.head-line img {
		width: 300px;
	}
	.head-line, .navbar{
		float: none;
	}
	.container{
		display: block;
	}
	.card{
		width: 100%;
		margin-bottom: 20px;
	}
	.main button{
		width:50%;
	}
}