*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 18px;
	color: #AC6B2F;
	line-height: 1.6;
}

#container{
	background-image: url('../img/beach2.jpeg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 40px;
}

#container h1{
	font-size: 50px;
	line-height: 1.2;
	
}

#container p{
	font-size: 20px;
}

#container .button{
	font-size: 18px;
	text-decoration: none;
	color: #f47c04;
	border: #AC6B2F 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
	outline: none;
}

#container .button:hover{
	background: #AC6B2F;
	color: #fff;
}

#first{
	font-size: 20px;
	padding: 30px;
	background: #AC6B2F;
	color: #fff;
	text-align: center;
}

#second{
	font-size: 20px;
	padding: 30px;
	background: #f4f4f4;
	color: #AC6B2F;
	text-align: center;
}

#third{
	display: flex;
}

#third div{
	padding: 30px;
	font-size: 20px;
}

#third .box1, #third .box3{
	background: #AC6B2F;
	color: #fff;
}

#third .box2{
	background: #f9f9f9;
}

@media (max-width: 500px){
	#third{
		flex-direction: column;
	}
}